Build/
Temp/
Library/
ProjectSettings/ProjectVersion.txt
*.pdb

*.suo
/ActionSequenceSystem.Assembly/ActionSequenceSystem/obj
/ActionSequenceSystem.Assembly/ActionSequenceSystem/*.user
/ActionSequenceSystem.Assembly/*.suo
